p,ul{
    border:2px solid purple;
    padding: .5em;
}
.block,li{
    border:2px solid blue;
    padding: .5em;
}
ul{
    display: flex;
    list-style: none;
}
li{
    margin: 5Px 10px 10px 10px;
    /* 控制水平的距離 */
}
.block{
    display: block;
    border: 3px groove yellow;
}